.lessonNoteWrapper{
    margin: 0em 6em 2em 6em;
}

.lessonNote{
  width: 60vw;
  
    /* text-align: center; */
    border: 1px solid gray;
    border-radius: 8px;
   margin-bottom: 2em;
   /* display: flex; */
   justify-content: baseline;
   align-items: center;
}

.lessonNoteInner {
    margin: 3em;
   
}

h1{
    text-align: center;
}
.ant-form-item-label{
width: 10%;
}
.formWrapper{
    width: 100%;
}
@media screen and (max-width: 683px) {
    .lessonNote {
    padding: 0em;
    width: 80vw;
    border: 0;
    }
    .lessonNoteWrapper{
        margin: 0px;
    }
    .lessonNoteInner {
        margin: 0em;
       
    }
}